@import './partials/__color.scss';
@import './title.scss';

a.active{
    color: $active-color;
    // text-decoration: underline;
}

.content-background{
    background-color: $content-background;
    border: none;
    outline: none;
}

.stick-header{
    position: sticky;
    top: 0;
}

.top-sticked{
    position: sticky;
    top: 12%;
}

.black-alpha-border{
    border: 1px solid $border-color;
}

.right-border{
    border-right: 1px solid rgba(0, 0, 0, 0.216);
}